/* Navbar más angosta en desktop */
@media (min-width: 768px){
  .navbar .container{
    padding-top: .25rem;   /* antes .75rem */
    padding-bottom: .25rem;
  }

}
  .navbar .nav-link{
    padding: .25rem .75rem; /* menos alto en tabs */
    font-size: .95rem;
  }

